:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  font-family: var(--font-family, --second-family);
  background-color: var(--white);
  color: var(--slate);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
  border: none;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.container {
  width: 1440px;
  margin: 0 auto;
}
.container-team {
  width: 100vw;
  margin: 0 auto;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.text-contents {
  font-family: var(--font-family);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-logo-text-1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.nav-logo-text-2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}

.navbar .link-items {
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar .link-items:hover,
.navbar .link-items:focus {
  color: var(--ocean);
}

.nav-flex {
  display: flex;
  border-bottom: 1px solid var(--cornflower);
  height: 72px;
}

.navbar-flex {
  display: flex;
  gap: 40px;
  padding-right: 332px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contact .contact-items {
  font-family: var(--font-family);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact .contact-items:hover,
.contact .contact-items:focus {
  color: var(--ocean);
}

.contact-flex {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  padding: 24px 76px 24px 156px;
}
.section-hero {
  background-color: var(--navy-blue);
  text-align: center;
}
.section-hero-text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}

.btn-hero {
  font-family: var(--font-family);
  background-color: #4d5ae5;
  color: var(--white);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-hero:hover,
.btn-hero:focus {
  background-color: var(--ocean);
}

.hero {
  padding: 188px 0;
  margin-bottom: 120px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.section-hero-text,
.btn-hero {
  position: relative;
  z-index: 1;
}

.section-hero-text {
  padding-bottom: 48px;
}

.btn-hero {
  padding: 16px 32px;
  border-radius: 4px;
}

.features-flex {
  display: flex;
  gap: 24px;
}

.section-features {
  margin: 0 156px;
  margin-bottom: 120px;
}

.section-features h3 {
  padding-bottom: 8px;
}

.section-team {
  background-color: var(--cloud);
}
.section-team .team-names:hover,
.section-team .team-names:focus {
  color: var(--ocean);
}

.team-card-items {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-names {
  padding-top: 32px;
  text-align: center;
}

.section-team .text-contents {
  text-align: center;
  padding-bottom: 8px;
  padding-top: 8px;
}

.team-text {
  padding-top: 124px;
  padding-bottom: 72px;
}

.team-card {
  background-color: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-card-items {
  padding-bottom: 116px;
}

.portfolio-cards {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-text {
  padding-top: 124px;
  padding-bottom: 72px;
}

.section-portfolio {
  margin-bottom: 120px;
}

.section-portfolio h3 {
  padding-left: 16px;
  padding-top: 32px;
}

.section-portfolio .text-contents {
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 32px;
}

.footer-logo-text-1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.footer-logo-text-2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
}

.footer-content {
  background-color: var(--navy-blue);
}

.footer-text {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

.footer-logo {
  padding-top: 100px;
  padding-bottom: 16px;
}

.footer-text {
  padding-bottom: 100px;
}

.footer-content {
  padding: 0 156px;
}
.features .features-svg {
  display: flex;
  gap: 24px;
  margin-bottom: 8px;
}
.features .features-images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: var(--cloud);
  border: 1px solid var(--light-slate);
  border-radius: 4px;
}

.icon-antenna,
.icon-clock,
.icon-diagram,
.icon-astronaut {
  width: 64px;
  height: 64px;
}
.social-media .icon-instagram,
.social-media .icon-twitter,
.social-media .icon-facebook,
.social-media .icon-linkedin {
  width: 16px;
  height: 16px;
}

.social-media .social-media-items a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--iris);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media {
  margin: 0 16px 32px 16px;
  display: flex;
  gap: 24px;
}
.social-media .social-media-items a:hover,
.social-media .social-media-items a:focus {
  background-color: var(--ocean);
}
.footer-social-media-text {
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}
.footer-social-media {
  display: flex;
  gap: 16px;
  padding-bottom: 132px;
}
.footer-social-media .icon-instagram,
.footer-social-media .icon-twitter,
.footer-social-media .icon-facebook,
.footer-social-media .icon-linkedin {
  width: 24px;
  height: 24px;
}
.footer-social-media .footer-social-media-links {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--iris);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-container {
  width: 1440px;
  display: flex;
  margin: 0 auto;
  gap: 120px;
  padding-left: 156px;
}
.footer-logo-contents {
  width: 264px;
}
.footer-contents {
  width: 208px;
  padding-top: 100px;
}
.footer-social-media .footer-social-media-links:hover,
.footer-social-media .footer-social-media-links:focus {
  background-color: var(--green);
}
.navbar-flex .link:first-child .link-items::after {
  content: "";
  width: 48px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
  border: 0;
}
.navbar {
  position: relative;
}
.portfolio-bg-contents {
  font-family: var(--font-family);
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--cloud);
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-bg-cards {
  position: relative;
  overflow: hidden;
  height: 300px;
}

.portfolio-items:hover p {
  transform: translateY(0%);
}

.portfolio-items:hover,
.portfolio-items:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-text-contents {
  border: 1px solid #e7e9fc;
  border-top: none;
}
.footer-container {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.footer-contact-form {
  display: flex;
  gap: 24px;
}
.footer-contact-text {
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-top: 100px;
  margin-bottom: 16px;
}
.form-input-mail {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 16px;
  background-color: transparent;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.form-input-mail::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.submit-form {
  margin: 0;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  background-color: var(--iris);
  color: var(--white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-frame {
  width: 24px;
  height: 24px;
  margin-left: 16px;
}
.submit-form:hover {
  background-color: var(--ocean);
}

/* ----MODAL START---- */

.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  display: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  display: block;
  visibility: visible;
}
.modal-form {
  width: 408px;
  height: 584px;
  padding: 72px 24px 24px 24px;
  background-color: var(--dairy);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal-exit {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: var(--cornflower);
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close-black {
  width: 8px;
  height: 8px;
}
.modal-head-text {
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 16px;
}
.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 360px;
  height: 40px;
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 40px;
}
.form-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 360px;
  height: 120px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 16px;
}
.form-input-box {
  position: relative;
}
.icon-phone-black,
.icon-email-black {
  position: absolute;
  top: 50%;
  left: 17px;
  width: 18px;
  height: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-person-black {
  position: absolute;
  top: 50%;
  left: 17px;
  width: 18px;
  height: 18px;
  fill: #2e2f42;
}
.form-input-box {
  margin-bottom: 8px;
}
.form-label {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: block;
  margin-bottom: 4px;
}
.form-input:focus {
  border-color: var(--iris);
}
.form-comment:focus {
  border-color: var(--iris);
}
.form-input:focus + .icon-phone-black,
.form-input:focus + .icon-email-black,
.form-input:focus + .icon-person-black {
  fill: var(--iris);
}
.form-checkbox-icon {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
.icon-vector {
  width: 10px;
  height: 8px;
}
.accept-text {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}
.accept-privacy {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--iris);
}
.btn-accept-privacy {
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-accept-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px auto auto auto;
}
.btn-accept-privacy:hover,
.btn-accept-privacy:focus {
  background-color: var(--ocean);
}
.form-comment-box {
  margin-bottom: 16px;
}
.form-comment::placeholder {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
  padding-top: 8px;
}
.hidden-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox:checked + .form-label .form-checkbox-icon {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.btn-modal-exit:hover,
.btn-modal-exit:focus {
  background-color: var(--ocean);
  border: none;
  fill: var(--white);
}
.form-input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
}

/* ----MODAL END---- */

/* ----MOBILE MENU START---- */

.mobile-menu-navbar {
  position: fixed;
  display: none;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  z-index: 999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
}
body.mobile-menu-open {
  overflow: hidden;
}
.mobile-menu-pages-links {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-menu-pages-box {
  padding-top: 48px;
  padding-left: 16px;
  margin-bottom: 168px;
}
.mobile-menu-contacts-links {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-menu-contacts-box {
  padding-left: 16px;
  margin-bottom: 48px;
}
.mobile-menu-pages {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-pages:hover,
.mobile-menu-pages:focus {
  color: var(--ocean);
}
.mobile-menu-contacts {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--slate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-contacts:hover,
.mobile-menu-contacts:focus {
  color: var(--ocean);
}
.mobile-menu-social-box .social-media .icon-instagram,
.mobile-menu-social-box .social-media .icon-twitter,
.mobile-menu-social-box .social-media .icon-facebook,
.mobile-menu-social-box .social-media .icon-linkedin {
  width: 24px;
  height: 24px;
}
.mobile-menu-btn-modal-exit {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  outline: 1px solid var(--cornflower);
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-btn-modal-exit:hover,
.mobile-menu-btn-modal-exit:focus {
  background-color: var(--ocean);
  border: none;
  fill: var(--white);
}
.mobile-menu-button {
  padding-left: 272px;
  padding-top: 24px;
  padding-right: 24px;
}
.mobile-menu-social-box .social-media {
  gap: 40px;
}
.mobile-menu-navbar.is-open {
  opacity: 1;
  display: block;
  visibility: visible;
}

.icon-heroicons-solid_menu {
  width: 24px;
  height: 24px;
}
.mobile-nav-flex {
  display: flex;
  flex-direction: row;
  gap: 149px;
}
.mobile-menu-pages-links
  .mobile-menu-pages-items:first-child
  .mobile-menu-pages {
  color: var(--ocean);
}
.mobile-menu-container-box {
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* Body scroll engelleme */

/* ----MOBILE MENU END---- */

/* ----MEDIA QUERYS START---- */

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 100%;
    /* margin: 0; */
  }
  .nav-flex {
    display: none;
  }
  .mobile-nav-flex {
    width: 100%;
    /* height: 56px; */
    margin-left: 16px;
    margin-top: 17.5px;
    margin-bottom: 17.5px;
    padding: 0;
  }
  /* .menu-no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
  } */
  .section-hero {
    width: 100%;
  }
  .section-hero-text {
    padding-bottom: 72px;
  }
  .features-flex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 72px;
    margin-top: 96px;
  }
  .features-svg-box {
    display: none;
  }
  .section-features {
    margin: 0 16px;
    margin-bottom: 96px;
  }
  .hero {
    padding: 0;
  }
  .features-flex .text-contents {
    font-weight: 500;
  }
  .features-flex h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
  }
  .team-card-items {
    display: flex;
    flex-direction: column;
    gap: 72px;
    justify-content: center;
    align-items: center;
    margin: 0 24px;
  }
  .portfolio-cards {
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    align-items: center;
  }
  .section-hero-text {
    font-size: 36px;
    line-height: 111%;
    padding: 72px 0;
    margin-left: 52px;
    margin-right: 52px;
  }
  .btn-hero {
    margin-bottom: 72px;
  }
  .btn-mobile-menu-icon {
    padding: 0;
    width: 24px;
    height: 24px;
  }
}
